@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* paleta de cores do projeto */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #fdf3f3;
  --color-secundary: #e36363;


  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
